export(bfi)
export(climateYear)
export(dln3)
export(dvStat)
export(extend)
export(freqAnal)
export(freqReport)
export(hmean)
export(hysep)
export(join)
export(part)
export(pln3)
export(qln3)
export(recess)
export(rise)
export(rln3)
export(seasonYear)
export(setSeasons)
importFrom(robust,lmRob)
S3method(aggregate,baseflow)
S3method(aggregate,rise)
S3method(confirm,recess)
S3method(plot,baseflow)
S3method(plot,freqAnal)
S3method(plot,recess)
S3method(plot,rise)
S3method(predict,freqAnal)
S3method(print,baseflow)
S3method(print,freqAnal)
S3method(print,recess)
S3method(print,rise)
